[submodule "awesome-wm-widgets"]
    path = awesome/.config/awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git


[submodule "brightness"]
    path = awesome/.config/awesome/brightness
	url = https://github.com/deficient/brightness.git

[submodule "lain"]
    path = awesome/.config/awesome/lain
	url = https://github.com/lcpz/lain.git

[submodule "revelation"]
    path = awesome/.config/awesome/revelation
	url = https://github.com/bioe007/awesome-revelation.git

[submodule "vicious"]
    path = awesome/.config/awesome/vicious
	url = https://github.com/vicious-widgets/vicious.git

[submodule "volume-control"]
    path = awesome/.config/awesome/volume-control
	url = https://github.com/deficient/volume-control.git
