# vim: filetype=sh

# Brian
export JOURNAL='/home/joaj/sources/wiki/wiki/journal/2023.md'
alias task='brian journal tasks $JOURNAL'
alias j='lvim $JOURNAL'

# Copy paste commands
alias pbcopy='xsel --clipboard --input'
alias pbpaste='xsel --clipboard --output'

alias mpv='mpv --save-position-on-quit'

alias py='python'
alias weather='curl wttr.in | tac | tac | head -n 7'

#alias l='log_wiki.py'

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    LS_COLORS='di=33:fi=31:ln=34:pi=5:so=5:bd=5:cd=5:or=31:mi=0:ex=35:*.rpm=90'
    export LS_COLORS
    alias dir='dir --color=auto'
    alias vdir='vdir --color=auto'
    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
    alias ls='ls -1 --color=auto --hyperlink' # enable color support and file links
fi

alias mv='mv -i'
alias rm='rm -i'
alias cp='cp -i'

# some more ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'


# Add an "alert" alias for long running commands.  Use like so:
#   sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

# ----------------------
# Git Aliases
# ----------------------
alias ga='git add'
alias gaa='git add .'
alias gaaa='git add --all'
alias gau='git add --update'
alias gb='git branch'
alias gbd='git branch --delete '
alias gc='git commit'
alias gcm='git commit --message'
alias gcf='git commit --fixup'
alias gco='git checkout'
alias gcob='git checkout -b'
alias gcom='git checkout master'
alias gcos='git checkout staging'
alias gcod='git checkout develop'
alias gd='git diff'
alias gda='git diff HEAD'
alias gi='git init'
alias gl='git log'
alias glg='git log --graph --oneline --decorate --all'
alias gls='git log --pretty=format:"%h %ad %s" --date=short --all'
alias gm='git merge --no-ff'
alias gma='git merge --abort'
alias gmc='git merge --continue'
alias gp='git pull'
alias gpr='git pull --rebase'
alias gpush='git push'
alias gr='git rebase'
alias gs='git status'
alias gss='git status --short'
alias gst='git stash'
alias gsta='git stash apply'
alias gstd='git stash drop'
alias gstl='git stash list'
alias gstp='git stash pop'
alias gsts='git stash save'

# ----------------------
# Git Functions
# ----------------------
# Git log find by commit message
function glf() { git log --all --grep="$1"; }

# ex - archive extractor
# usage: ex <file>
function ex ()
{
	if [ -f $1 ] ; then
		case $1 in
			*.tar)		tar -xf $1    	;;
			*.tar.xz)	tar -xJf $1   	;;
			*.txz)		tar -xJf $1   	;;
			*.tar.bz2)	tar -xjf $1   	;;
			*.tbz2)		tar -xjf $1   	;;
			*.tar.gz)	tar -xzf $1   	;;
			*.tgz)		tar -xzf $1   	;;
			*.tar.pixz)	tar -Ipixz -xf $1;;
			*.tpxz)		tar -Ipixz -xf $1;;
			*.xz)		xz -d $1   		;;
			*.pixz)		pixz -d $1		;;
			*.gz)		gunzip $1    	;;
			*.bz2)		bunzip2 $1   	;;
			*.rar)		unrar e $1		;;
			*.zip)		unzip $1     	;;
			*.Z)		uncompress $1	;;
			*.7z)		7z -x $1      	;;
			*)			echo "'$1' cannot be extracted via ex()" ;;
		esac
	else
		echo "'$1' is not a valid file"
	fi
}

function up()
{
    LIMIT=$1
    P=$PWD
    for ((i=1; i <= LIMIT; i++)) do
        P=$P/..
    done
    cd $P
    export MPWD=$P
}


# Environment Variables

# XDG
export XDG_DATA_HOME=$HOME/.local/share
export XDG_STATE_HOME=$HOME/.local/state
export XDG_CACHE_HOME=$HOME/.cache
export CARGO_HOME="$XDG_DATA_HOME"/cargo
export CUDA_CACHE_PATH="$XDG_CACHE_HOME"/nv
export GNUPGHOME="$XDG_DATA_HOME"/gnupg
export MPLAYER_HOME="$XDG_DATA_HOME"/mplayer
export WINEPREFIX="$XDG_DATA_HOME"/wine
alias wget=wget --hsts-file="$XDG_DATA_HOME/wget-hsts"
export SQLITE_HISTORY="$XDG_CACHE_HOME"/sqlite_history
export RUSTUP_HOME="$XDG_DATA_HOME"/rustup
export REDISCLI_HISTFILE="$XDG_DATA_HOME"/redis/rediscli_history
export PYTHONSTARTUP="${XDG_CONFIG_HOME}/python/pythonrc"
export PSQL_HISTORY="$XDG_DATA_HOME/psql_history"
export PASSWORD_STORE_DIR="$XDG_DATA_HOME"/pass
export NPM_CONFIG_USERCONFIG="$XDG_CONFIG_HOME"/npm/npmrc

export PYTHONSTARTUP=/home/joaj/.pythonrc
export PATH=/home/joaj/.local/bin:$PATH
export PATH=$PATH:"$XDG_DATA_HOME"/cargo/bin
export PATH=$PATH:"$XDG_CONFIG_HOME"/emacs/bin
export PATH=$PATH:"$XDG_DATA_HOME"/gem/ruby/2.7.0/bin
export PATH=$PATH:"$XDG_CONFIG_HOME"/emacs/bin
export MANPAGER='vim -R -M +MANPAGER -'

